/* Base Colors */

:root {
    --main-text-font: 'Roboto Mono', monospace;
    --landing-footer-bg-color: #333646;
    --main-bg-color: #252734;
    --header-text-color: #EBEBEC;
    --main-text-color: #D5D9E7;
    --none-chosen-text-color: #646673;
    --accent-color: #E0B525;
}

/* Blanket Styles */

* {
    font-family: var(--main-text-font); 
    scroll-behavior: smooth;
    margin: 0rem;
    font-weight: normal;
}

body {
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}

footer {
    background-color: var(--landing-footer-bg-color);
}

h3 {
    font-size: 40px;
}

ul {
    padding: 0;
}

li {
    font-size: 30px;
    color: var(--main-text-color);
}

.title {
    color: var(--header-text-color);
}

.button {
    color: var(--header-text-color);
    border: 3px solid var(--accent-color);
    border-radius: 20px;
}

.heading {
    font-size: 40px;
    margin-bottom: 3rem;
}

.content {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 9rem;
    padding-top: 9rem;
}

.wave-emoji, .memo-emoji, .mobile-emoji {
    padding-top: 1rem;
    padding-right: 1rem;
}

.sub-heading {
    font-size: 40px;
    color: var(--header-text-color);
}

.text, .heading, .sub-heading {
    display: flex;
}

.sub-heading span {
    padding-top: 6px;
    padding-right: 1rem;
}

.button {
    margin-right: auto;
    padding: 10px 50px;
}


/* Links */

a {
    color: var(--header-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}


/* Navigation Bar */
nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding-block: 1.2rem;
    background-color: transparent;
    transition: background-color 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

nav.active {
    background-color: var(--landing-footer-bg-color);

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo {
    /* ADJUST LATER */
    margin-inline: 0.5rem;
    width: clamp(3rem, 10vw, 7.5rem);
    display: grid;
    place-items: center;
}

.logo-link:focus-visible,
.nav-link:focus-visible {
    outline: 4px solid var(--accent-color);
    outline-offset: 0.2em;
    border-radius: 0.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    transform: translate3d(0, -200%, 0);
    position: absolute;
    z-index: -1;
    top: 3rem;
    left: 0;
    right: 0;
    background-color: var(--landing-footer-bg-color);
    padding: 1.5rem;
    border-bottom: 4px solid var(--accent-color);
    text-align: center;
}

.nav-links.activated {
    transition: transform 0.4s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

.btn {
    color: var(--main-text-color);
    text-decoration: none;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn--accent {
    background-color: var(--accent-color);
    padding: 0.3rem 2rem;
}

.btn--menu {
    color: var(--accent-color);
    background-color: transparent;
    border: none;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

li[role="none"], .nav-link {
    width: 100%;
    display: block;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.btn--menu[aria-expanded="true"]{
    transform: rotate(180deg);
}

.btn--menu[aria-expanded="true"] + .nav-links {
    transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
    .btn--menu {
        display: none;
    }

    .nav-links {
        position: static;
        transform: translate3d(0, 0, 0);
        flex-direction: row;
        border: 0;
        z-index: 0;
        padding: 0;
        inset: 0;
        background-color: transparent;
    }

    li[role="none"], .nav-link{
        width: initial;
    }
}



/* Landing */

#landing .content {
    display: flex;
    flex-wrap: wrap;
}

#landing {
    padding-top: 1rem;
}

#landing h3, #landing span {
    font-size: clamp(1rem, 3.1vw, 3.5rem);
}

#landing .button {
    font-size: clamp(1rem, 2.1vw, 2.5rem);
}

#landing .text {
    padding-top: 5rem;
    padding-right: 10rem;
    flex-direction: column;
}

#landing .big-name {
    font-size: clamp(1rem, 6.6vw, 8rem);
}

#landing .profile {
    padding-top: 4rem;
    padding-right: 10rem;
    padding-left: 2rem;
}

#landing .profile-picture {
    width: 430px;
}

#landing .sprout-title {
    margin-right: 0.75rem;
}


/* Background */
#background .heading {
   padding-top: 1rem;
}

#background ul {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
}

#background .description:last-child {
    margin-left: 6rem;
}


/* Background + Projects */

#background li, #background .button, #projects .button {
    font-size: 30px;
}

/* Projects */

#projects .text {
    flex-direction: column;
}

#projects .subHeading {
    margin-bottom: 1rem;
}

#projects .description {
    margin-bottom: 4rem;
}

#projects .content {
    padding-bottom: 18rem;
}

/* Projects + Contact */

#projects li, #contact ul {
    list-style-type: '>';
}

/* Contact */

#contact ul {
    padding-left: 1.5rem;
    padding-bottom: 5rem;
}

#contact li {
    padding-left: 1rem;
}

#contact .content {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

#contact .copyright {
    margin-bottom: auto;
    color: var(--none-chosen-text-color);
}
