:root {
    --main-text-font: 'Roboto Mono', monospace;
    --landing-footer-bg-color: #333646;
    --main-bg-color: #252734;
    --header-text-color: #EBEBEC;
    --main-text-color: #D5D9E7;
    --none-chosen-text-color: #646673;
    --accent-color: #E0B525;
}

* {
    font-family: var(--main-text-font); 
}

body {
    background-color: var(--main-bg-color);
}

h3 {
    font-size: 40px;
}

body, .navBar, h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

ul {
    padding: 0;
}

li {
    font-size: 30px;
    color: var(--main-text-color);
}


.title {
    color: var(--header-text-color);
}

.button {
    color: var(--header-text-color);
    border: 3px solid var(--accent-color);
    border-radius: 20px;
}

.text, .heading, .subHeading, #landing .content {
    display: flex;
}

.heading {
    font-size: 40px;
    margin-bottom: 3rem;
}

.content {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 9rem;
    padding-top: 9rem;
}

.wave, .memo, .mobilePhone {
    padding-top: 1rem;
    padding-right: 1rem;
}

.subHeading span {
    padding-top: 6px;
    padding-right: 1rem;
}

.button {
    margin-right: auto;
    padding: 10px 50px;
}



/* Links */

a {
    color: var(--header-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

/* Navigation Bar */

nav {
    width: 100%;
    background-color: var(--main-bg-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navLinks {
    margin: 0px 0px;
    padding: 3.625rem 5rem 5rem 5rem;
}

.navLinks li {
    float: right;
    list-style-type: none;
}

.navLinks a {
    display: inline-block;
    padding: 0vh 1.5rem;
    font-size: 30px;
}

.sproutLogo {
    margin-right: 0.5rem;
}

#homeLogo {
    float: left;
}


/* Landing */

#landing {
    padding-top: 5rem;
}

#landing h3, #landing span {
    font-size: 60px;
}

#landing .button {
    font-size: 40px;
}

#landing .text {
    padding-top: 5rem;
    font-size: 64px;
    flex-direction: column;
}

#bigName {
    font-size: 128px;
}

.profile {
    margin-left: auto;
} 

.profilePicture {
    width: 430px;
}

.sproutTitle {
    margin-right: 0.75rem;
}


/* Background */

#background .heading {
   padding-top: 1rem;
}

#background ul {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
}

#background li, #background .button, #projects .button {
    font-size: 30px;
}

/* Background + Projects */

.subHeading {
    font-size: 40px;
    color: var(--header-text-color);
}

#background li,#background .button, #projects .button {
    font-size: 30px;
}

/* Projects */

#projects .text {
    flex-direction: column;
}

#projects .subHeading {
    margin-bottom: 1rem;
}

#projects .description {
    margin-bottom: 4rem;
}

#projects .content {
    padding-bottom: 18rem;
}

/* Projects + Contact */

#projects li, #contact ul {
    list-style-type: '>';
}

/* Contact */

#contact ul {
    padding-left: 1.5rem;
    padding-bottom: 5rem;
}

#contact li {
    padding-left: 1rem;
}

#contact {
    background-color: var(--landing-footer-bg-color);
}

#contact .content {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.copyright {
    margin-bottom: auto;
    color: var(--none-chosen-text-color);
}
